---
import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";
import Form from "../components/Form.astro";
const title = "Contact";
const subtitle = "Contact me using the form below. Or find me online!";

import data from "../data/site.json"
---

<Layout title="Contact">
  <div>
    <HeaderSmall title={title} subtitle={subtitle} />
  </div>
  <main>
    <div class="p-4">
      <p class="text-center mb-4 text-base font-normal text-gray-700 dark:text-white">My phone is {data.contact.phone} and my buisness is located at {data.contact.address}. Reach out to me at my email {data.contact.email}</p>
    </div>
    <div class="max-w-md m-auto my-8">
      <Form />
    </div>
  </main>
</Layout>

<style></style>
