---
import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";
import Card from "../components/Card.astro";

import data from "../data/site.json";
const title = "Projects";
const subtitle = "Some Projects";
---

<Layout title="Projects">
  <main>
    <HeaderSmall title={title} subtitle={subtitle} />
    <div class="container">
      <ul class="">
        {
          data.projects.map((project) => (
            <Card
              title={project.title}
              href={project.href}
              body={project.about}
            />
          ))
        }
      </ul>
    </div>
  </main>
</Layout>

<style></style>
