---
const title = "Projects";
const subtitle = "Some Projects";

import ProjectVideoAnaren from "../components/ProjectVideoAnaren.astro";
import ProjectVideoZenmode from "../components/ProjectVideoZenmode.astro";
const AnarenComponent = ProjectVideoAnaren;
const ZenmodeComponent = ProjectVideoZenmode;

import Layout from "../layouts/Layout.astro";

import HeaderSmall from "../components/HeaderSmall.astro";
import ProjectCard from "../components/ProjectCards.astro";
import ProjectCards from "../components/ProjectCards.astro";



---

<Layout title="Projects">
  <main>
    <HeaderSmall title={title} subtitle={subtitle} />
    <div class="">
      <section class="section">
        <div class="container">
          <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
            <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-8">
              {
                data.projects.map(
                  (
                    value: {
                      projectTitle: string;
                      href: string;
                      about: string;
                      repo?: string;
                      type?: string;
                    },
                    index: number
                  ) => {
                    return (
                      <ProjectCard
                        projectTitle={value.projectTitle}
                        href={value.href}
                        body={value.about}
                        type={value.type}
                        repo={value.repo}
                      />
                    );
                  }
                )
              }
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style></style>
