---
import Heading from "./Heading.astro";

const heading = "Some things I can help you with";

const sections = [
  "Custom Static Site",
  "WordPress, Drupal, Jamstack CMS",
  "Analytics",
  "Content Creation",
  "Custom React Components",
  "SEO",
];
const sectionIcons = [
  "/icons/staticsites.svg",
  "/icons/wordpress.svg",
  "/icons/analytics.svg",
  "/icons/contentcreation.svg",
  "/icons/react.svg",
  "/icons/seo.svg",
]
const sectionIconsDark = [
  "/icons/staticsites-dark.svg",
  "/icons/wordpress-dark.svg",
  "/icons/analytics-dark.svg",
  "/icons/contentcreation-dark.svg",
  "/icons/react-dark.svg",
  "/icons/seo-dark.svg",
]
const sectionsText = [
  "I can build you a custom static site using Astro, Next, or Jekyll. Static sites are fast, secure, and easy to maintain.",
  "Do you want to add content like blogs, landing pages, or custom sections? I can help set up a WordPress site for you.",
  "Using analytics tools like Google Analytics, I can help you track your site's performance and make improvements.",
  "I've been using Adobe products for over 10 years. I can help you create content for your site, social media, and even custom YouTube videos.",
  "Need something more custom for an app? I can help you build custom React components for your project.",
  "SEO is important for your site to be found. I can help you with SEO best practices and tools to help you rank higher.",
];

---

<div class="mb-12 bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <Heading heading={heading} />
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      {
        sections.map((section) => {
          return (
            <div class="flex flex-col">
              <div class="mt-6">
               
                <img class="mb-4 dark:hidden" width="60" height="60" src={sectionIcons[sections.indexOf(section)]} alt="" />
                <img class="mb-4 hidden dark:block" width="60" height="60" src={sectionIconsDark[sections.indexOf(section)]} alt="" />
                <h3 class="text-lg font-medium text-gray-900 dark:text-white">
                  {sections[sections.indexOf(section)]}
                </h3>
                <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">
                  {sectionsText[sections.indexOf(section)]}
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>

<style>
  svg path {
    stroke: #000;
  }
  /* Set svg stroke color based on theme */
  body.dark svg path {
    stroke: #fff;
  }
</style>