---
import ButtonGroup from "./ButtonGroup.astro";
const title = "Jumbotron Title";
const subtitle = "Jumbotron Body";
const buttonLink1 = "https://google.com";
const buttonText1 = "Googies";
const buttonLink2 = "https://msn.com";
const buttonText2 = "MSN";
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      {title}
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-700 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
    >
      {subtitle}
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
    >
      <!--Needs work -->
      <ButtonGroup
        text1={buttonText1}
        href1={buttonLink1}
        text2={buttonText2}
        href2={buttonLink2}
      />
    </div>
  </div>
</section>
