---
import data from "../data/site.json";
import DarkModeToggle from "./DarkModeToggle.astro";

import { Image } from "astro:assets";
import myImage from "../../assets/logo.png";
---

<nav class="bg-slate-800" id="navbar">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          id="menuToggle"
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex flex-shrink-0 items-center">
          <a href="/">
            <Image src={myImage} alt="Site logo" width="34" height="34" />
          </a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            {
              data.pages.map((page) => {
                return (
                  <a
                    href={page.href}
                    class=" text-white rounded-md px-3 py-2 text-sm font-medium"
                    aria-current="page"
                  >
                    {page.title}
                  </a>
                );
              })
            }
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <DarkModeToggle />
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      {
        data.pages.map((page) => {
          return (
            <a
              href={page.href}
              class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
              aria-current="page"
            >
              {page.title}
            </a>
          );
        })
      }
    </div>
  </div>
</nav>

<style>
  body .active {
    background-color: red;
  }
  body.dark .active {
    background-color: green;
  }
  .hamburg {
    fill: black;
  }
  body.dark .hamburg {
    fill: white;
  }
</style>

<script>
  function mobileMenu() {
    //Start with #mobile-menu hidden
    const mobileMenu = document.getElementById("mobile-menu");
    mobileMenu.classList.add("hidden");
    //Toggle #mobile-menu when clicking on #menuToggle
    const menuToggle = document.getElementById("menuToggle");
    menuToggle.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });

    //Hide #mobile-menu when clicking on a link
    const navLinks = mobileMenu.querySelectorAll("a");
    navLinks.forEach((link) => {
      link.addEventListener("click", () => {
        mobileMenu.classList.add("hidden");
      });
    });
  }

  document.addEventListener("astro:after-swap", mobileMenu);
</script>
<script>
  const navbar = document.getElementById("#navbar");
  const navLinks = navbar ? navbar.querySelectorAll("a") : [];
  const currentURL = window.location.href;
  navLinks.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add("active");
    }
  });
</script>
