---
import Button from "./Button.astro";
const title = "Some title for pricing";
const subtitle = "Some subtitle for pricing";

const pricing = [
  {
    name: "Starter",
    price: "$29",
    description: "Best option for personal use & for your next project.",
    features: [
      {
        name: "Individual configuration",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "No setup, or hidden fees",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Team size: 1 developer",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Premium support: 6 months",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Free updates: 6 months",
        icon: "heroicon-o-check-circle",
      },
    ],
    cta: "Get started",
    ctaLink: "https://www.google.com",
  },
  {
    name: "Company",
    price: "$99",
    description: "Relevant for multiple users, extended & premium support.",
    features: [
      {
        name: "Individual configuration",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "No setup, or hidden fees",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Team size: 10 developers",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Premium support: 24 months",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Free updates: 24 months",
        icon: "heroicon-o-check-circle",
      },
    ],
    cta: "Get started",
    ctaLink: "https://www.google.com",
  },
  {
    name: "Enterprise",
    price: "$499",
    description:
      "Best for large scale uses and extended redistribution rights.",
    features: [
      {
        name: "Individual configuration",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "No setup, or hidden fees",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Team size: 100+ developers",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Premium support: 36 months",
        icon: "heroicon-o-check-circle",
      },
      {
        name: "Free updates: 36 months",
        icon: "heroicon-o-check-circle",
      },
    ],
    cta: "Get started",
    ctaLink: "https://www.google.com",
  },
];
---

<section class="bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        {title}
      </h2>
      <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
        {subtitle}
      </p>
    </div>
    <div
      class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"
    >
      {
        pricing.map((plan) => (
          <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
            <h3 class="mb-4 text-2xl font-semibold">{plan.name}</h3>
            <p class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
              {plan.description}
            </p>
            <div class="flex justify-center items-baseline my-8">
              <span class="mr-2 text-5xl font-extrabold">{plan.price}</span>
              <span class="text-gray-500 dark:text-gray-400">/month</span>
            </div>

            <ul role="list" class="mb-8 space-y-4 text-left">
              {plan.features.map((feature) => (
                <li class="flex items-center space-x-3">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span>{feature.name}</span>
                </li>
              ))}
            </ul>
            <Button text={plan.cta} href={plan.ctaLink} />
          </div>
        ))
      }
    </div>
  </div>
</section>
