---
const sectionTitle = "Shop by category!";
const linkTitle = "Something";
const linkLocation = "/something";

const cards = [
  {
    icon: "./icons/bug.svg",
    title: "Computer & Office",
    link: "link1",
  },
  {
    icon: "./icons/archive.svg",
    title: "Phones & Accessories",
    link: "link2",
  },
  {
    icon: "./icons/award.svg",
    title: "Consumer Electronics",
    link: "link3",
  },
  {
    icon: "./icons/bell.svg",
    title: "Watches",
    link: "link4",
  }
];
---

<section class="bg-gray-50 py-8 antialiased dark:bg-slate-800 md:py-16">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="mb-4 flex items-center justify-between gap-4 md:mb-8">
      <h2
        class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
      >
        {sectionTitle}
      </h2>

      <a
        href={linkLocation}
        title=""
        class="flex items-center text-base font-medium text-white hover:underline dark:text-primary-500"
      >
        {linkTitle}
        <svg
          class="ms-1 h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 12H5m14 0-4 4m4-4-4-4"></path>
        </svg>
      </a>
    </div>

    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
      {
        cards.map((card) => (
          <a
            href={card.link}
            class="flex items-center rounded-lg border border-gray-200 bg-white px-4 py-2 hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            
            <img src={card.icon} class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" alt="" loading="lazy" />
            <span class="text-sm font-medium text-gray-900 dark:text-white">
              {card.title}
            </span>
          </a>
        ))
      }
    </div>
  </div>
</section>
